@font-face {
    font-family: 'gang of three';
    src: url(./fonts/gang_of_three.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    flex-direction: column;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'gang of three', sans-serif;
    top: 0;
    font-size: 170px;
    color: #F5F5DC;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black, 2px  2px 0 black;
    text-shadow: 2px 2px 5px black;
}

.container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 25px;
    margin: 30px 0;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.6;
}

button:active {
    opacity: 0.4;
}

#rock {
    background-color: #555555;
}

#paper {
    background-color: #F5F5DC;
}

#scissor {
    background-color: #6699CC;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgba(77, 128, 216);
}

.machine-score span {
    color: rgb(224, 71, 15);
}

@media screen and (max-width: 680px) {
    h1{
        font-size: 90px;
    }
}